
.name {
        text-align: center;
}

.contact {
     text-align:center;
     color: blue;
     font-size : 20px;
}

.jobtitle {
    font-size:16px;
    margin-left: 30px;
}

footer {
    text-align:center;
}
.container {
    display: flex; /* activates the flex box layout, which aligns the elements (images and pragraph) side by side (hortiztal line/rows)*/
    align-items:flex-start; /*align all top elements (vertically) at top edge of the container */
    gap: 20px; /* spacing between the elements (pargraph and images) */
}
.text-box {
    display:flex;
    flex-direction:column; /* Changes the step from rows (flex) to columns */
    gap:0%;
}
.text-box >h2 {
    margin-bottom:0px;
}
#portrait{
    border:none;
    border-width:10px 10px;
    height:200px;
    width:200px;
  
}

.upper_case{
   text-transform: uppercase;

}

.test{
    border:3px solid black;
}

#new_font{
    font-family:"Bitcount Prop Single Ink", system-ui;
}

#c_upper{
    text-transform: uppercase;
    text-align:center;
}

#font_size{
    font-size:20pt;
}

.c_images{
    height:300px;
    width:400px;
    border:solid black;
    border-width:10px;
}


.c_container {
    display:flex;
    justify-content:center;
    gap:10px;
}

@media (max-width:680px){
    .container {
        display:block;
        width:100%;
    }
    .container > img {
        display:block;
        width:100%;
    }
    .container > .text-box {
        display:block;
    }

    .c_container {
        display:block;
        width:100px;
    }
    .c_container >img {
        display:block;
        width:100px;
    }
}